
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.card {
    width: 400px; /* Ukuran form yang diperbesar */
    border: none;
}

.card-body {
    padding: 3rem;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #E74C3C;
    border: none;
    padding: 12px 24px;
    font-size: 18px; /* Ukuran font tombol yang diperbesar */
    width: 100%;
}

.btn-user {
    width: 100%;
    margin-bottom: 1rem;
}

.text-gray-900 {
    color: #333;
}

.text-gray-500 {
    color: #999;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
